<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

**Navigate to the Go to UI screen** 

* Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html">link</a> for viewing  the   Go to UI screen. 


* Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.  



* Later browse for the downloaded spacex file.



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800">


* Once done select the schema andload the file.  


 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800">


If you are facing a problem in uploading the dataset (which is a csv file), you can follow the steps below to upload the .sql file instead of the CSV file:

* Download the file <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/datasets/Spacex%20.sql">Spacex.sql</a>

* Later click on **SQL** in the  **Go to UI Screen**.

* Use the **From file** option to browse for the **SQL** file and upload it.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/sqlfile.png">

* Once you upload the script,you can use the **Run All** option to run all the queries to insert the data.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/runall.png">

In [1]:
# !pip install sqlalchemy
# !pip install ibm_db_sa
# !pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql




**DB2 magic in case of  UI service credentials.**



<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/servicecredentials.png" width="600">  

* Use the following format.

* Add security=SSL at the end

**%sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL**

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [4]:
%sql select distinct(LAUNCH_SITE) from SPACEX;

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [5]:
%sql select * from SPACEX where LAUNCH_SITE like 'CCA%' limit 5;

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(datetime.date(2010, 6, 4), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [6]:
%sql select PAYLOAD_MASS_KG_ from SPACEX where CUSTOMER='NASA (CRS)';

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(500,),
 (677,),
 (2296,),
 (2216,),
 (2395,),
 (1898,),
 (1952,),
 (3136,),
 (2257,),
 (2490,),
 (2708,),
 (3310,),
 (2205,),
 (2647,),
 (2697,),
 (2500,),
 (2495,),
 (2268,),
 (1977,),
 (2972,)]

In [7]:
%sql select sum(PAYLOAD_MASS_KG_) from SPACEX where CUSTOMER='NASA (CRS)';

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(45596,)]

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [8]:
%sql select PAYLOAD_MASS_KG_ from SPACEX where Booster_Version ='F9 v1.1';

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(3170,), (3325,), (2296,), (1316,), (4535,)]

In [9]:
%sql select avg(PAYLOAD_MASS_KG_) from SPACEX where Booster_Version ='F9 v1.1';

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(2928,)]

### Task 5

##### List the date when the first successful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [10]:
%sql select DATE, Landing_Outcome from SPACEX where Landing_Outcome like 'Success%';

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(datetime.date(2015, 12, 22), 'Success (ground pad)'),
 (datetime.date(2016, 4, 8), 'Success (drone ship)'),
 (datetime.date(2016, 5, 6), 'Success (drone ship)'),
 (datetime.date(2016, 5, 27), 'Success (drone ship)'),
 (datetime.date(2016, 7, 18), 'Success (ground pad)'),
 (datetime.date(2016, 8, 14), 'Success (drone ship)'),
 (datetime.date(2017, 1, 14), 'Success (drone ship)'),
 (datetime.date(2017, 2, 19), 'Success (ground pad)'),
 (datetime.date(2017, 3, 30), 'Success (drone ship)'),
 (datetime.date(2017, 5, 1), 'Success (ground pad)'),
 (datetime.date(2017, 6, 3), 'Success (ground pad)'),
 (datetime.date(2017, 6, 23), 'Success (drone ship)'),
 (datetime.date(2017, 6, 25), 'Success (drone ship)'),
 (datetime.date(2017, 8, 14), 'Success (ground pad)'),
 (datetime.date(2017, 8, 24), 'Success (drone ship)'),
 (datetime.date(2017, 9, 7), 'Success (ground pad)'),
 (datetime.date(2017, 10, 9), 'Success (drone ship)'),
 (datetime.date(2017, 10, 11), 'Success (drone ship)'),
 (datetime.date(2017, 10, 30), 'Success (drone ship)'),
 (datetime.date(2017, 12, 15), 'Success (ground pad)'),
 (datetime.date(2018, 1, 8), 'Success (ground pad)'),
 (datetime.date(2018, 4, 18), 'Success (drone ship)'),
 (datetime.date(2018, 5, 11), 'Success (drone ship)'),
 (datetime.date(2018, 7, 22), 'Success'),
 (datetime.date(2018, 7, 25), 'Success'),
 (datetime.date(2018, 8, 7), 'Success'),
 (datetime.date(2018, 9, 10), 'Success'),
 (datetime.date(2018, 10, 8), 'Success'),
 (datetime.date(2018, 11, 15), 'Success'),
 (datetime.date(2018, 12, 3), 'Success'),
 (datetime.date(2019, 1, 11), 'Success'),
 (datetime.date(2019, 2, 22), 'Success'),
 (datetime.date(2019, 3, 2), 'Success'),
 (datetime.date(2019, 5, 4), 'Success'),
 (datetime.date(2019, 5, 24), 'Success'),
 (datetime.date(2019, 6, 12), 'Success'),
 (datetime.date(2019, 7, 25), 'Success'),
 (datetime.date(2019, 11, 11), 'Success'),
 (datetime.date(2019, 12, 5), 'Success'),
 (datetime.date(2019, 12, 17), 'Success'),
 (datetime.date(2020, 1, 7), 'Success'),
 (datetime.date(2020, 1, 29), 'Success'),
 (datetime.date(2020, 3, 7), 'Success'),
 (datetime.date(2020, 4, 22), 'Success'),
 (datetime.date(2020, 5, 30), 'Success'),
 (datetime.date(2020, 6, 4), 'Success'),
 (datetime.date(2020, 6, 13), 'Success'),
 (datetime.date(2020, 6, 30), 'Success'),
 (datetime.date(2020, 7, 20), 'Success'),
 (datetime.date(2020, 8, 7), 'Success'),
 (datetime.date(2020, 8, 18), 'Success'),
 (datetime.date(2020, 8, 30), 'Success'),
 (datetime.date(2020, 9, 3), 'Success'),
 (datetime.date(2020, 10, 6), 'Success'),
 (datetime.date(2020, 10, 18), 'Success'),
 (datetime.date(2020, 10, 24), 'Success'),
 (datetime.date(2020, 11, 5), 'Success'),
 (datetime.date(2020, 11, 16), 'Success'),
 (datetime.date(2020, 11, 21), 'Success'),
 (datetime.date(2020, 11, 25), 'Success'),
 (datetime.date(2020, 12, 6), 'Success')]

In [11]:
%sql select DATE, Landing_Outcome from SPACEX where Landing_Outcome like 'Success (ground pad)';

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(datetime.date(2015, 12, 22), 'Success (ground pad)'),
 (datetime.date(2016, 7, 18), 'Success (ground pad)'),
 (datetime.date(2017, 2, 19), 'Success (ground pad)'),
 (datetime.date(2017, 5, 1), 'Success (ground pad)'),
 (datetime.date(2017, 6, 3), 'Success (ground pad)'),
 (datetime.date(2017, 8, 14), 'Success (ground pad)'),
 (datetime.date(2017, 9, 7), 'Success (ground pad)'),
 (datetime.date(2017, 12, 15), 'Success (ground pad)'),
 (datetime.date(2018, 1, 8), 'Success (ground pad)')]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [12]:
%sql select BOOSTER_VERSION from SPACEX where PAYLOAD_MASS_KG_ between 4000 and 6000 and Landing_Outcome = 'Success (drone ship)';

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

### Task 7




##### List the total number of successful and failure mission outcomes

In [13]:
%sql select MISSION_OUTCOME, count(MISSION_OUTCOME) as count FROM SPACEX group by MISSION_OUTCOME;

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [14]:
%sql SELECT BOOSTER_VERSION, PAYLOAD_MASS_KG_ from SPACEX where PAYLOAD_MASS_KG_ = (select MAX(PAYLOAD_MASS_KG_) from SPACEX);

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1051.3', 15600),
 ('F9 B5 B1056.4', 15600),
 ('F9 B5 B1048.5', 15600),
 ('F9 B5 B1051.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1051.6', 15600),
 ('F9 B5 B1060.3', 15600),
 ('F9 B5 B1049.7', 15600)]

### Task 9


##### List the failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [15]:
%sql select DATE, BOOSTER_VERSION, LAUNCH_SITE from SPACEX where LANDING_OUTCOME ='Failure (drone ship)' and DATE like '%2015%';

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(datetime.date(2015, 1, 10), 'F9 v1.1 B1012', 'CCAFS LC-40'),
 (datetime.date(2015, 4, 14), 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [16]:
%sql select DATE, LANDING_OUTCOME from SPACEX where DATE between '2010-06-04' and '2017-03-20' order by DATE desc;

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(datetime.date(2017, 3, 16), 'No attempt'),
 (datetime.date(2017, 2, 19), 'Success (ground pad)'),
 (datetime.date(2017, 1, 14), 'Success (drone ship)'),
 (datetime.date(2016, 8, 14), 'Success (drone ship)'),
 (datetime.date(2016, 7, 18), 'Success (ground pad)'),
 (datetime.date(2016, 6, 15), 'Failure (drone ship)'),
 (datetime.date(2016, 5, 27), 'Success (drone ship)'),
 (datetime.date(2016, 5, 6), 'Success (drone ship)'),
 (datetime.date(2016, 4, 8), 'Success (drone ship)'),
 (datetime.date(2016, 3, 4), 'Failure (drone ship)'),
 (datetime.date(2016, 1, 17), 'Failure (drone ship)'),
 (datetime.date(2015, 12, 22), 'Success (ground pad)'),
 (datetime.date(2015, 6, 28), 'Precluded (drone ship)'),
 (datetime.date(2015, 4, 27), 'No attempt'),
 (datetime.date(2015, 4, 14), 'Failure (drone ship)'),
 (datetime.date(2015, 3, 2), 'No attempt'),
 (datetime.date(2015, 2, 11), 'Controlled (ocean)'),
 (datetime.date(2015, 1, 10), 'Failure (drone ship)'),
 (datetime.date(2014, 9, 21), 'Uncontrolled (ocean)'),
 (datetime.date(2014, 9, 7), 'No attempt'),
 (datetime.date(2014, 8, 5), 'No attempt'),
 (datetime.date(2014, 7, 14), 'Controlled (ocean)'),
 (datetime.date(2014, 4, 18), 'Controlled (ocean)'),
 (datetime.date(2014, 1, 6), 'No attempt'),
 (datetime.date(2013, 12, 3), 'No attempt'),
 (datetime.date(2013, 9, 29), 'Uncontrolled (ocean)'),
 (datetime.date(2013, 3, 1), 'No attempt'),
 (datetime.date(2012, 10, 8), 'No attempt'),
 (datetime.date(2012, 5, 22), 'No attempt'),
 (datetime.date(2010, 12, 8), 'Failure (parachute)'),
 (datetime.date(2010, 6, 4), 'Failure (parachute)')]

In [17]:
%sql select LANDING_OUTCOME, count(*) as COUNT from SPACEX where DATE between '2010-06-04' and '2017-03-20' group by LANDING_OUTCOME order by COUNT DESC;

 * ibm_db_sa://wpl76703:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-10-12 | 0.4 |Lakshmi Holla | Changed markdown|
| 2021-08-24 | 0.3 |Lakshmi Holla | Added library update|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>